@using Foundation.Features.Blocks.AlexButtonBlock

@model IBlockViewModel<AlexButtonBlock>

<div style="background-color: @Model.CurrentBlock.BackgroundColor; opacity:@Model.CurrentBlock.BlockOpacity;" class="@(Model.CurrentBlock.Padding + " " + Model.CurrentBlock.Margin)">
    <a class="button-origin"
       style="@Model.CurrentBlock.BorderStyle"
       title="@Model.CurrentBlock.ButtonText"
       href="@Url.ContentUrl(Model.CurrentBlock.ContentLink)"
       @Html.EditAttributes(m => m.CurrentBlock.ButtonText)>
        @Model.CurrentBlock.ButtonText
    </a>
</div>
